{
  "trailingComma": "all",
  "importOrder": ["^#root/(.*)$", "^#test/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators"]
}
